{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}

    <div class="container">
        <div class="tc mb-3">
            <h1>Cars</h1>
        </div>

        <div class="d-flex">
            <div class="mr-2">
                <div class="card">
                    <div class="card-header bg-secondary text-white tc">
                        <h4>Filter</h4>
                    </div>
                    <div class="card-group-item">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">
                                <h6>Brands</h6>
                            </li>
                            <li class="list-group-item">
                                <div class="tc">
                                    <select class="custom-select">
                                        <option selected>Choose brand</option>
                                        {% for brand in brands %}
                                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </li>
                            <li class="list-group-item bg-light">
                                <h6>Price</h6>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex mb-1">
                                    <div class="mr-auto">Min</div>
                                    <div class="ml-auto">Max</div>
                                </div>
                                <input type="range" class="form-control-range">
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer tc">
                        <button class="btn btn-outline-warning bg-secondary">Search</button>
                    </div>
                </div>

                <div class="tc m-2">
                    <button class="btn btn-info">
                        <a href="{{ path('car_new') }}" class="text-white">Create new record</a>
                    </button>
                </div>
            </div>

            <div class="">
                <div class="row border bg-light rounded-1 m-0 mb-2 p-2 tc">
                    <div class="col">Nejlevnejsi</div>
                    <div class="col">Nejdrazsi</div>
                    <div class="col">Nejnovejsi</div>
                    <div class="col">Min Km</div>
                </div>
                <table class="table table-hover bg-white rounded">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Price</th>
                        <th>Kilometers</th>
                        <th>Registration</th>
                        <th>Fuel Type</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <th scope="row">{{ car.id }}</th>
                            <td>
                                <a class="fs-md td_none" href="{{ path('car_detail', {'id': car.id}) }}">{{ car.name }}</a>
                            </td>
                            <td>{{ car.brand.name }}</td>
                            <td>{{ car.price }} Kc</td>
                            <td>{{ car.kilometer }} Km</td>
                            <td>{{ car.registration }}</td>
                            <td>{{ car.fuelType }}</td>
                            <td class="d-flex">
                                <a href="{{ path('car_edit', {'id': car.id}) }}" class="btn bg-primary text-white mr-1">Edit</a>
                                {{ include('car/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
